.nivo-caption {
    background: #000000 none repeat scroll 0 0;
    bottom: 0;
    box-sizing: border-box;
    color: #ffffff;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0!important;
    position: absolute;
    width: 100%;
    z-index: 8;
}
.slider-progress {
    animation: 5000ms ease-in-out 0s normal none 1 running myfirst;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
}

.nivo-directionNav a {
    background: #3c3c3c none repeat scroll 0 0;
    font-size: 20px;
    height: 65px;
    line-height: 64px;
    margin: auto 10px;
    text-align: center;
    width: 37px;
    color: #fff;
}

.nivo-directionNav a {
    opacity: 0;
    visibility: hidden;
}

.main-slider:hover .nivo-directionNav a {
    opacity: 1;
    visibility: visible
}

.nivo-directionNav a {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 9;
    transform: translateY(-50%);
}

.nivo-directionNav a:hover {
    opacity: .6
}

.slider-single-img a {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    transition: all .5s;
}

.slider-single-img .img_a {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    transform: scale(3);
    transition: all .7s;
}

.slider-single-img:hover .img_a {
    transform: scale(1);
    opacity: 1;
    transition: all .5s;
}


/* home-3 */

.slider-area-3 .nivo-caption {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: 0;
    box-sizing: border-box;
    color: #ffffff;
    left: 0;
    opacity: 1;
    overflow: hidden;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
    z-index: 8;
    height: 100%;
}

.slider-area-3 .middle-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slider-area-3 .middle-text h1 {
    color: #ffffff;
    font-family: "Opensans", sans-serif;
    font-size: 60px;
    font-weight: bolder;
    letter-spacing: 10px;
    position: relative;
    text-transform: uppercase;
}

.slider-area-3 .middle-text h2 {
    color: #4db4e4;
    display: block;
    font-size: 36px;
    font-weight: bolder;
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 15px;
    max-width: 250px;
    text-transform: uppercase;
}

.slide-all-animate-1 {
    animation-name: bounceInRight;
    -webkit-animation-name: bounceInRight;
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
}

.slide-all-animate-2 {
    animation-name: bounceInLeft;
    -webkit-animation-name: bounceInLeft;
    animation-delay: .9s;
    -webkit-animation-delay: .9s;
}


/* ------------------------------------------------------------- */


/* -----------------------------------
Template:  Theme Name

NOTE: This is product-tab style file. All product-tab related style included in this file.

--------------------------------------*/

.tab-title {
    border-bottom: 1px solid #eeeeee;
    border-top: 3px solid #f4a137;
    height: 61px;
    padding-left: 57px;
    position: relative;
}

.tab-title h2 {
    background: #ffffff none repeat scroll 0 0;
    color: #444444;
    font-size: 24px;
    font-weight: 600;
    line-height: 57px;
    margin: 0;
    padding-left: 15px;
    text-transform: capitalize;
}

.tab-title h2::before {
    background: #f4a137 none repeat scroll 0 0;
    color: #ffffff;
    content: "\f017 ";
    font-family: "FontAwesome";
    height: 57px;
    left: 0;
    line-height: 57px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 57px;
}

.tab-menu {
    position: absolute;
    right: 15px;
    top: 3px;
}

.tab-menu ul li {
    border-left: 1px solid #eeeeee;
    cursor: pointer;
    float: left;
    line-height: 57px;
    padding: 0 15px;
    transition: all 300ms ease-in-out 0s;
}

.tab-menu ul li a {
    color: #8a8a8a;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    transition: All .4s;
    display: block;
}

.tab-menu ul li:hover,
.tab-menu ul li.active {
    background: #F4A137;
}

.tab-menu ul li:hover a,
.tab-menu ul li.active a {
    color: #fff;
}

.tab-menu ul li img {
    float: left;
    height: 42px;
    margin-top: 8px;
    width: 42px;
}

.single-product {
    border-right: 1px solid #eeeeee;
    overflow: hidden;
    border-bottom: 1px solid#eeeeee;
}

.product-img {
    transition: all .4s;
}

.product-img a {
    display: inline-block;
}

.product-img a img {}

.product-content {
    background: #ffffff none repeat scroll 0 0;
    display: block;
    overflow: hidden;
    padding: 10px;
}

.product-content h4 a {
    color: #555;
}

.product-content h4 a:hover {
    color: #F4A137;
}

.price.product-price {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 6px 0;
}

.product-icon {
    margin-top: 20px;
}

.product-icon-left {
    position: relative;
}

.product-icon-left::before {
    background: #dddddd none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    top: -12px;
    width: 60px;
}

.product-icon-left a {
    color: #555555;
    text-transform: capitalize;
}

.product-icon-left a i {
    margin-right: 5px;
}

.product-icon-right a {
    color: #555;
    padding: 0px 10px;
}

.single-product:hover .product-img {
    transform: scale(1.1);
}

.single-product:hover .product-i {
    box-shadow: 0 0 #eaeaea inset, 0 -2px #f4a137 inset, -1px 0 #eaeaea inset, 0 0 #eaeaea inset;
}

.single-product-sidebar:hover {
    box-shadow: 0 0 #eaeaea inset, 0 -2px #f4a137 inset, -1px 0 #eaeaea inset, 0 0 #eaeaea inset;
}

.single-product .product-container-img {
    display: inline-block;
    max-width: 162px;
    text-align: center;
}

.product-i .pro-title h4 a {
    font-size: 14px;
}

.product-i .product-icon-right a {
    padding-right: 0;
}

.single-tab-img {
    overflow: hidden;
    padding-left: 15px;
}

.dotted-style-1 .owl-carousel .owl-controls .owl-nav div {
    background: #dddddd none repeat scroll 0 0;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-size: 17px;
    height: 25px;
    left: 8px;
    line-height: 20px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 48%;
    width: 25px;
}

.dotted-style-1 .owl-carousel:hover .owl-controls .owl-nav div {
    opacity: 1;
}

.dotted-style-1 .owl-carousel .owl-controls .owl-nav div:hover {
    background: #FEBE74;
    color: #fff;
}

.dotted-style-1 .owl-carousel .owl-controls .owl-nav div.owl-next {
    right: 8px;
    left: auto;
}

.dotted-style-2 .owl-carousel .owl-controls .owl-nav div {
    background: #dddddd none repeat scroll 0 0;
    border-radius: 20%;
    color: #333333;
    display: block;
    font-family: FontAwesome;
    font-size: 18px;
    height: 25px;
    line-height: 23px;
    position: absolute;
    right: 36px;
    text-align: center;
    top: -37px;
    width: 25px;
    z-index: 1;
    transition: all .4s;
}

.dotted-style-2 .owl-carousel .owl-controls .owl-nav div:hover {
    color: #fff;
    background: #FEBE74;
}

.dotted-style-2 .owl-carousel .owl-controls .owl-nav div.owl-next {
    left: auto;
    right: 0px;
}

.border-1 {
    border-top: 3px solid #f4a137;
}

.new {
    background: #666666 none repeat scroll 0 0;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    min-width: 50px;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    top: 10px;
    z-index: 99;
}

.new::before {
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #666666 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 5px;
    bottom: -7px;
    content: "";
    left: 5px;
    position: absolute;
}

.sale {
    background: #F4A137 none repeat scroll 0 0;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    min-width: 50px;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    top: 10px;
    z-index: 99;
}

.sale::before {
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #F4A137 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 5px;
    bottom: -7px;
    content: "";
    left: 5px;
    position: absolute;
}

.tooltip>.tooltip-inner {
    z-index: 111111111
}

.tooltip-arrow,
.tooltip.top.tooltip-arrow {
    border-top-color: #000
}

.pad {
    padding: 0
}

.padd-2 {
    padding-left: 0
}

.tab-content>.tab-pane {
    display: block;
    height: 0;
    overflow: hidden;
}

.tab-pane.active {
    height: auto;
    overflow: visible;
    display: block;
}


/* Featured products */

.section-title h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.product-img-left {
    float: left;
    width: 40%;
}

.product-content-right {
    float: left;
    width: 60%;
    padding: 15px;
}

.product-img-left a img {
    margin-top: 20px;
}

.product-content-right .pro-title h4 a {
    font-size: 14px;
}

.single-brand a img {
    border-left: 1px solid #eee;
}

.slider-product .single-product {
    padding: 10px 0;
}

.slider-product .owl-carousel .owl-controls .owl-nav div {
    top: 42%;
}

/* home-2 */

.product-tab-menu>ul li {
    display: inline-block;
}

.product-tab-menu {
    box-shadow: 1px 0 #eaeaea inset, -1px 1px #eaeaea inset;
}

.product-tab-menu ul li a {
    color: #444444;
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 24px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.product-tab-menu ul li:hover a,
.product-tab-menu ul li.active a {
    background: #F4A137;
    color: #fff;
}

.product-tab-area-2 .tab-content {
    margin-left: 15px;
    margin-right: 15px;
}

.col_m {
    padding: 0;
}

.product-tab-area-2 .product-img-left a img {
    margin-top: 8px;
}

.product-tab-area-2 .single-product .product-img-left {
    width: 50%;
}

.product-tab-area-2 .single-product .product-content-right {
    width: 50%;
}

.product-tab-area-2 .owl-carousel .owl-controls .owl-nav div {
    top: -7%;
    right: 50px;
}

.product-tab-area-2 .owl-carousel .owl-controls .owl-nav div.owl-next {
    right: 15px;
}

.single-banner-4 {
    margin-top: 18px;
}


/* home-4 */

.brand-area-4 .owl-carousel .owl-controls .owl-nav {
    display: none;
}


/* ------------------------------------------------------------------ */

/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:50%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
.single-goods .goo

.single-goods img:hover{
    animation:goods-scale 1s linear;
}
@keyframes goods-scale {
    0%{ transform: scale(2)}
    100%{transform: scale(1)}
}


/* 添加购物车 */
.add-cart{
    position: relative;
    height: 44px;
    line-height: 44px;
}
.add-cart a{
    color: #555;
}
.add-cart a:hover{
    color: #F4A137;
}
.add-cart:before{
    position: absolute;
    content: "";
    width: 62px;
    height: 1px;
    background: #cccccc;
    top:-1px;
    z-index: 10;
}
/* 添加购物车结束 */

 /*“新”、“拍卖”、“特价”标签 */
.new,.sale,.cheap{
    position: absolute;
    top: 10px;
    min-width: 50px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    text-transform: capitalize;
    border-radius: 4px;
    z-index: 99;
    background: #fff;
}
.new{
    background: #f00;
}
.sale{
    background: orange;
}
.cheap{
    background: #0f0;
}
.new::before,.sale::before,.cheap::before{
    position: absolute;
    left: 5px;
    bottom: -7px;
    content: "";
    border:5px solid transparent;
    border-top-color:#fff;
}
.new::before{
    border-top-color: #f00;
}
.sale::before{
    border-top-color: orange;
}
.cheap::before{
    border-top-color: #0f0;
}
 /*“新”、“拍卖”、“特价”标签结束 */

.big-goods{
    margin-top:30px;
}
.big-goods .container{
    border-top:3px solid #F4A137;
}

.big-goods .row>div{
    margin: 0;
    padding: 0;
    background: #fff;
}
.big-goods .row>div>div{
    margin: 0;
    padding: 0;
}
.big-goods .tab-title-change h2{
    margin: 0;
    margin-bottom: 1px;
    padding-left: 70px;
    font-size:40px;
    height: 57px;
    left: 60px;
    background: #fff;
}
.big-goods .tab-title-change h2::before{
    position: absolute;
    top: 0;
    left: 0;
    height: 57px;
    width: 57px;
    text-align: center;
    line-height: 57px;
    font-size: 40px;
    color: #ffffff;
    content: "\f017 ";
    font-family: "FontAwesome";
    background: #f4a137;
}
.big-goods .tab-change{
    height: 57px;
}
.big-goods .nav-tabs{
    height: 100%;
    border:none;
}
.big-goods .nav-tabs>li{
    height: 100%;
}
.big-goods .nav-tabs>li>a{
    height: 100%;
    line-height: 38px;
    border:none;
}
.big-goods .nav-tabs>li>a:hover{
    color: #fff;
    border:none;
    border-radius: 0;
    background: #F4A137;
}
.big-goods .nav-tabs img{
    float: left;
    height: 42px;
    width: 42px;
}
/* 商品列表 */
.seller .goods-box{
    border-top:3px solid #F4A137;
}
aside .sell-title,.goods-list>div .sell-title{
    font-size: 16px;
    font-weight: 600;
    padding-top:10px;
    line-height: 25px;
}
aside .single-goods{
    position: relative;
    background: #fff;
    margin-bottom: 1px;
}
aside .single-goods::after{
    content: "";
    display: block;
    clear: both ;
}
aside .single-goods .img-box{
    float: left;
    width: 40%;
}
aside .single-goods .single-content{
    float:left;
    width: 60%;
    padding-left: 20px;
    padding-top: 20px;
}
aside .spe-seller .single-goods .img-box{
    width: 100%;
}

.goods-list>div .single-goods{
    position: relative;
    margin: 0;
    border-right:1px solid transparent;
    padding: 0;
    background: #fff;
}
.goods-list>div .seller::after{
    content: "";
    display: block;
    clear: both ;
}
.goods-list>div .single-goods .single-content{
    padding: 10px;
}
.goods-list .goods-banner{
    padding: 30px 0;
}
/* 商品列表结束 */