.caption h5{
    width: 270px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#shop-nav{
    overflow: hidden;
    position: relative;
    left: 15.5%;
}
#shop-nav li{
    float: left;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #cccccc;
    margin-right: 10px;
}

.thumbnail>img{
    width: 350px;
    height: 350px;
}
.page-ul{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}